{% extends "base.html" %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Add new product</h1>
            <form method="POST" action="{% url 'add_product'  %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="tittle" class="form-label">Title</label>
                    <input type="text" class="form-control" name="tittle" id="tittle" aria-describedby="tittle">
                    {% if form.tittle.errors %}
                     <div class="form-text text-danger">{{ form.tittle.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                    {% if form.description.errors %}
                     <div class="form-text text-danger">{{ form.description.errors }}</div>
                    {% endif %}
                </div>                
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}